{% extends 'info/layout.html' %}

{% block title %}информация про бота{% endblock %}

{% block content %}
    <div class="features">
        <h1>Иформация про бота</h1>
        <p>!!!ОБРАТИТЕ ВНИМАНИЕ!!!</p>
        <p> Бот создан только для смеха. Никакой серьёзности к нему проявлять не надо. Хотите узнать реальную информацию надо самому узнать об этом и не верит никаким гадалкам. И НЕ НАДО ЖАЛОВАТЬСЯ ЧТО НАШ БОТ СКАЗАЛ НЕПРАВИЛЬНУЮ ИНФОРМАЦИЮ!!!</p>
        <p></p>
        <p>Главный язык программирования на котором написан и бот, и сайт - Python. Это язык программирования созданный специально для разработки приложений и игр (но если постараться то можно и сайт сделать). </p>
    </div>
{% endblock %}